@use "../../scss/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 930px;
  width: 850px;
  background-color: variables.$white;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: variables.$background;
    padding: 2em;

    .group {
      margin-bottom: 1.5rem;
      position: relative;
      width: 20.4375rem;
    }
  }
}
