@use "../../scss/variables";

.container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  background-color: variables.$lightBg;
  border-bottom: 3px solid rgba(112, 124, 151, 0.15);
  border-radius: 5px 5px;
  box-sizing: border-box;
  padding: 0.3em 1em;
  .infoWrapper {
    display: flex;
    align-items: center;
    & div:last-child {
      padding: 1em;
      line-height: 1.5rem;
      .name {
        font-weight: 700;
      }
      .online {
        color: variables.$active;
        font-weight: 500;
      }
    }
  }

  .buttonsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 100px;
    .button {
      display: flex;
      justify-content: center;
      width: 40px;
      height: 40px;
    }
    .icon {
      color: variables.$gray;
      width: 15px;
      height: 15px;
    }
  }
}
