@use "../../scss/variables";

.container {
  width: 85%;
  border-top: 3px solid rgba(112, 124, 151, 0.15);
  padding: 0 0.5em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;

  .input {
    border: none;
    padding: 1em;
    flex-grow: 1;
    &:focus {
      outline: none;
    }
  }

  .emoji {
    color: variables.$gray;
    font-size: 1rem;
    align-self: center;
    padding: 0.5em;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }
}
