@use "../../scss/variables";
.container {
  overflow-y: scroll;
  background-color: variables.$white;
  width: 100%;
  height: 100%;
  padding: 2em;
  box-sizing: border-box;
  scrollbar-color: rgba(variables.$dark, 0.3);
  scrollbar-width: thin;
}
